{% extends "Szablon.html" %}
{% from "Makra/Lorem_Ipsum.html" import Lorem_Ipsum %}

{% block Tytuł %}
    Debug - Ścieżki
{% endblock %}

{% block Treść %}
    <h1>Debug - Ścieżki</h1>

    {% if Reguły %}
        <div class="mb-2">
            <p>Widoczność kolumn:
                <a href="#" class="toggle-vis" data-Kolumna="0">#</a>
                <a href="#" class="toggle-vis" data-Kolumna="1">Reguła</a>
                <a href="#" class="toggle-vis" data-Kolumna="2">Pełna Nazwa Widoku</a>
                <a href="#" class="toggle-vis" data-Kolumna="3">Argumenty</a>
            </p>

            <table id="Tabela_Sciezki" class="table table-bordered table-striped">
                <thead>
                    <tr class="table-primary">
                        <th scope="col">#</th>
                        <th scope="col">Reguła</th>
                        <th scope="col">Pełna Nazwa Widoku</th>
                        <th scope="col">Argumenty</th>
                    </tr>
                </thead>
                <tbody>
                    {% for Reguła, Pełna_Nazwa, Argumenty in Reguły %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>
                                {% if Argumenty == "" %}
                                    <a href="{{ url_for(Pełna_Nazwa) }}">{{ Reguła }}</a>

                                {% else %}
                                    {{ Reguła }}

                                {% endif %}
                            </td>
                            <td>{{ Pełna_Nazwa }}</td>
                            <td>{{ Argumenty }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <script>
            document.addEventListener("DOMContentLoaded", function()
            {
                var Tabela = new DataTable("#Tabela_Sciezki", {
                    layout: {
                        bottom2End: {
                            buttons: [
                                'copy', 'excel', "csv", 'pdf'
                            ],
                        }
                    },
                    lengthMenu: [-1, 3, 10, 25, 50, 100],
                    language: {
                        //url: "//cdn.datatables.net/plug-ins/2.3.2/i18n/pl.json", // CORS blokuje
                        url: "{{ url_for('static', filename='../../Statyczne/DataTables/pl.json')}}",
                    },
                    scrollX: true,
                    columnControl: ['order', "spacer", ['orderAsc', 'orderDesc', 'search']],
                    ordering: {
                        indicators: false,
                    },
                    fixedHeader: {
                        header: true,
                        headerOffset: $('#Banner').height()
                    },

                });

                // Włączenie/Wyłączanie wyświetlania kolumn wybranych przez użytkownika, src: https://datatables.net/examples/api/show_hide.html
                document.querySelectorAll('a.toggle-vis').forEach((el) => {
                    el.addEventListener('click', function (e) {
                        e.preventDefault();
                        e.target.classList.toggle('text-decoration-line-through');
                        e.target.classList.toggle('text-secondary');

                        let Kolumna_ID = e.target.getAttribute('data-Kolumna');
                        let Kolumna = Tabela.Kolumna(Kolumna_ID);

                        Kolumna.visible(!Kolumna.visible());
                    });
                });
            });

        </script>
    {% endif %}
{% endblock %}