{% from "Makra/Menu.html" import Menu %}
{% from "Makra/Komunikaty.html" import Komunikaty %}
<!DOCTYPE html>
<html lang="pl">
    <head>
        {# Ogólne #}
        <title>

            {% block Tytuł %}{% endblock %}

        | Kurator Kolekcji</title>
        <link rel="icon"
              type="image/x-icon"
              href="{{ url_for('static', filename='Favicon.png') }}">
        {# Meta #}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Hubert Michna, Patryk Pieniążek">
        <meta name="description" content="Cyfrowy Kurator Kolekcji">
        <meta name="keywords" content="Cyfrowy Kurator Kolekcji">
        {# jQuery, pod DataTables #}
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
        {# CDN - Swiper.js #}
        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
        <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
        {# CDN - Bootstrap 5.3.3 #}
        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        {% if Motyw %}
            <link href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.7/dist/{{ Motyw }}/bootstrap.min.css"
                  rel="stylesheet">
        {% else %}
            <link href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.7/dist/united/bootstrap.min.css"
                  rel="stylesheet">
        {% endif %}
        {#<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous">#}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
                crossorigin="anonymous"></script>
        {# Datatables #}
        <link href="https://cdn.datatables.net/v/dt/jszip-3.10.1/dt-2.3.2/b-3.2.4/b-colvis-3.2.4/b-html5-3.2.4/b-print-3.2.4/cc-1.0.7/fh-4.0.3/datatables.min.css"
              rel="stylesheet"
              integrity="sha384-BFhcC+P+xKeIDcKVmtP69nCXqDxLHYpjkv5c6QBxwkzBhyJwAVAe5/+BCcEGJeo/"
              crossorigin="anonymous">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"
                integrity="sha384-VFQrHzqBh5qiJIU0uGU5CIW3+OWpdGGJM9LBnGbuIH2mkICcFZ7lPd/AAtI7SNf7"
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"
                integrity="sha384-/RlQG9uf0M2vcTw3CX7fbqgbj/h8wKxw7C3zu9/GxcBPRKOEcESxaxufwRXqzq6n"
                crossorigin="anonymous"></script>
        <script src="https://cdn.datatables.net/v/dt/jszip-3.10.1/dt-2.3.2/b-3.2.4/b-colvis-3.2.4/b-html5-3.2.4/b-print-3.2.4/cc-1.0.7/fh-4.0.3/datatables.min.js"
                integrity="sha384-vi8UyBPkQ1na4fAFc9gHV0oROk6rRo7EgvTF2M2p9JGIJSS6x5xg5Dj4J0li+3g5"
                crossorigin="anonymous"></script>
        {#<link href="https://cdn.datatables.net/v/dt/dt-2.3.2/b-3.2.4/b-colvis-3.2.4/b-html5-3.2.4/b-print-3.2.4/cc-1.0.7/fh-4.0.3/sb-1.8.3/datatables.min.css" rel="stylesheet" integrity="sha384-/slNNqNjJYZFa7k1UezcdLpE77JbveV1vhtqBj/escMrvAsrRN1ELw36XatpNQNf" crossorigin="anonymous">
<script src="https://cdn.datatables.net/v/dt/dt-2.3.2/b-3.2.4/b-colvis-3.2.4/b-html5-3.2.4/b-print-3.2.4/cc-1.0.7/fh-4.0.3/sb-1.8.3/datatables.min.js" integrity="sha384-3mwQW4t5zAPK2wBsaWUuRxu3vAhsJ764tcDG5msdMblugjNdA0eeE6qoNKrOXYzb" crossorigin="anonymous"></script>#}
        {# vanilla
        <link href="https://cdn.datatables.net/v/dt/dt-2.3.2/cc-1.0.7/datatables.min.css" rel="stylesheet" integrity="sha384-Cj3XOJTsHbH8wLMuiur9hBHE6VbFJ8lUnGGhQELFs136YAqA3kG8Ljowyz51xPUf" crossorigin="anonymous">
<script src="https://cdn.datatables.net/v/dt/dt-2.3.2/cc-1.0.7/datatables.min.js" integrity="sha384-uoZRKlUQlPstYKkxPTk3T53KCmifX/+WjwqqN9Q9MMHW1vgL12W9FrIiP/28HpWQ" crossorigin="anonymous"></script>#}
        {# JS - Własne #}
        <script src="{{ url_for('static', filename='index.js') }}"></script>
        {# CSS - Własne #}
        <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    </head>
    <body data-theme="{{ Motyw }}">
        <div id="Treść" class="d-flex flex-column min-vh-100">
            <header id="Banner" class="bg-primary text-white shadow-sm">
                <div class="container py-3">
                    <h1 class="text-center mb-0">Kurator Kolekcji</h1>
                </div>
            </header>
            {{ Menu() }}
            <main class="container my-4">
                <noscript>
                    <div class="alert alert-danger">
                        Dla zapewnienia poprawnego działania systemu, ta strona <strong>musi</strong> mieć dostęp do skryptów JavaScript.
                    </div>
                </noscript>
                {{ Komunikaty() }}
                <div class="card shadow-sm">
                    <div class="card-header bg-body-tertiary">
                        <div class="d-flex justify-content-end gap-2">
                            <button class="btn btn-sm btn-outline-secondary"
                                    onclick="Bootstrap_Tryb_Ciemny()"
                                    title="Włącz/Wyłącz tryb ciemny.">
                                <i class="bi bi-lightbulb-fill"></i>
                            </button>
                            <a href="{{ url_for('Blueprint_1.Widok_Main_Motyw') }}"
                               class="btn btn-sm btn-outline-secondary"
                               title="Wybierz motyw kolorystyczny.">
                                <i class="bi bi-palette2"></i>
                            </a>
                            <button class="btn btn-sm btn-outline-secondary"
                                    onclick="Podkreślanie_Linków()"
                                    title="Włącz/Wyłącz podkreślanie wszystkich linków.">
                                <i class="bi bi-type-underline"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body p-4">
                        {% block Treść %}{% endblock %}

                    </div>
                    <div class="card-footer text-body-secondary">
                        {% if current_user.is_authenticated %}
                            <p class="mb-0 small">
                                <span class="fw-bolder">Zalogowano jako</span>: <a href="{{ url_for('Blueprint_2.Widok_Konto_Index') }}">{{ current_user.login }}</a>
                            </p>
                        {% else %}
                            <p class="mb-0 small">Nie zalogowano</p>
                        {% endif %}
                    </div>
                </div>
            </main>
            <div class="container d-none">
                <p>
                    <b>Tryb Ciemny</b>: <code>{{ Tryb_Ciemny }}</code>
                    <br>
                    <b>Motyw</b>: <code>{{ Motyw }}</code>
                </p>
            </div>
            <div class="position-relative">
                <button id="Przycisk_Scroll"
                        class="btn btn-lg btn-primary position-fixed bottom-0 end-0 m-4 z-1"
                        onclick="Strzałka_Scroll()"
                        title="Przewiń do góry strony.">
                    <i class="bi bi-arrow-up"></i>
                </button>
            </div>
            <footer class="bg-primary text-white text-center py-4 mt-auto">
                <div class="container">
                    <ul class="list-inline mb-2">
                        <li class="list-inline-item">
                            Hubert Michna (w67259) - <a href="https://github.com/Hubsik456" class="text-white">GitHub</a>
                        </li>
                        <li class="list-inline-item">&bull;</li>
                        <li class="list-inline-item">
                            Patryk Pieniążek (w67174) - <a href="https://github.com/ppieniazek" class="text-white">GitHub</a>
                        </li>
                    </ul>
                    <p class="small mb-2">Projekt Zespołowy &nbsp;&bull;&nbsp; 6 IIZ, GP02 &nbsp;&bull;&nbsp; Lipiec 2025</p>
                    <p class="small mb-0">
                        © 2025 Kurator Kolekcji &nbsp;&bull;&nbsp;
                        <a href="https://github.com/Hubsik456/PRO_Projekt_Zespolowy"
                           class="text-white">Repozytorium projektu</a>
                    </p>
                </div>
            </footer>
        </div>
    </body>
</html>
