{% set Pozycje_Menu = [
        [
            ("Kolekcja", "#"),
            ("Kolekcja", "Blueprint_3.Widok_Kolekcja_Index"),
            ("Moja Kolekcja", "Blueprint_3.Widok_Kolekcja_Moja_Kolekcja")
        ],
        [
            ("Konto", "#"),
            ("Logowanie", "Blueprint_2.Widok_Konto_Logowanie"),
            ("Rejestracja", "Blueprint_2.Widok_Konto_Rejestracja"),
            ("Zmień Hasło", "Blueprint_2.Widok_Konto_Zmiana_Hasła"),
            ("Edytuj Konto", "Blueprint_2.Widok_Konto_Edytuj_Konto"),
            ("Wyloguj", "Blueprint_2.Widok_Konto_Wyloguj"),
            ("Usuń Konto", "Blueprint_2.Widok_Konto_Usuń_Konto"),
        ],
        [("O Programie", "Blueprint_1.Widok_Main_O_Programie")],
        [("Polityka Prywatności", "Blueprint_1.Widok_Main_Polityka_Prywatności")],
    ] %}
{#
[
            ("Debug", "#"),
            ("Debug", "Blueprint_0.Widok_Debug_Index"),
            ("Ścieżki", "Blueprint_0.Widok_Debug_Ścieżki"),
            ("Flash", "Blueprint_0.Widok_Debug_Flash"),
        ]
#}
{% macro Menu() %}
    <nav class="navbar navbar-expand-lg sticky-top bg-body pb-0">
        <div class="container border-2 border-bottom border-primary-subtle p-1">
            <a class="navbar-brand link-primary"
               href="{{ url_for('Blueprint_1.Widok_Main_Index') }}">
                <i class="bi bi-house" title="Strona główna"></i>
            </a>
            <button class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#Menu_Glowne"
                    title="Zwiń/Rozwiń menu.">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="vr mt-1 mb-1 d-none d-lg-block text-primary"></div>
            <div class="collapse navbar-collapse" id="Menu_Glowne">
                <ul class="navbar-nav navbar-nav-scroll mb-2 mb-lg-0">
                    {% for Pozycja in Pozycje_Menu %}
                        {# Pojedyncza pozycja #}
                        {% if Pozycja | length == 1 %}
                            {% set Tekst, URL = Pozycja[0] %}
                            <li class="nav-item">
                                <a class="nav-link fw-normal
                                          {% if URL != '#' and url_for(URL) == request.path %}active{% endif %}"
                                   href="{% if URL != '#' %}{{ url_for(URL) }}{% else %}#{% endif %}">{{ Tekst }}</a>
                            </li>
                            {# Rozwijane menu #}
                        {% else %}
                            {% set Glowny_Tekst, Glowny_URL = Pozycja[0] %} {# Naspis; nie link #}
                            {% set Podpozycje = Pozycja[1:] %} {# Normalne pozycje #}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle fw-normal"
                                   href="#"
                                   id="navbarDropdown{{ loop.index }}"
                                   role="button"
                                   data-bs-toggle="dropdown"
                                   aria-expanded="false">{{ Glowny_Tekst }}</a>
                                <ul class="dropdown-menu"
                                    aria-labelledby="navbarDropdown{{ loop.index }}">
                                    {% for Tekst, URL in Podpozycje %}
                                        <li>
                                            <a class="dropdown-item
                                                      {% if URL != '#' and url_for(URL) == request.path %}active{% endif %}"
                                               href="{% if URL != '#' %}{{ url_for(URL) }}{% else %}#{% endif %}">
                                                {{ Tekst }}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </nav>
{% endmacro %}
