{% macro Swiper_2(Elementy) %}
    {#<p><code>{{ Elementy }}</code></p>#}

    {# Zewnętrzny Kontener #}
    <div class="swiper overflow-hidden">
        {# Wewnętrzny Kontener #}
        <div class="swiper-wrapper">

            {# Slides #}
            {% for Slajd in Elementy %}
            <div class="swiper-slide position-relative">
                <div class="p-2 d-flex flex-column">
                    <h3 class="mb-1">{{ Slajd.przedmiot.nazwa }}</h3>

                    {% if Slajd.pierwsza_grafika_data_uri %}
                        <hr>
                        <img src="{{ Slajd.pierwsza_grafika_data_uri }}"
                             alt="{{ Slajd.przedmiot.nazwa }}"
                             class="img-fluid">
                    {% else %}
                    {% endif %}

                    <hr class="w-100">

                    <p class="mb-1">
                        <b>Opis</b>:
                        {{ Slajd.przedmiot.opis }}
                    </p>

                    <p class="mb-0">
                        <b>Wartość Rynkowa</b>:
                        {{ Slajd.przedmiot.wartosc_rynkowa }} {{ Slajd.przedmiot.waluta_rynkowa.skrot }}
                    </p>

                    <p>Kliknij <a href="{{ url_for('Blueprint_3.Widok_Kolekcja_Przedmiot', ID=Slajd.przedmiot.id) }}">tutaj</a> aby zobaczyć szczegóły.</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function(){
            var Swipery = new Swiper(".swiper", {
                slidesPerView: 2.2,
                grabCursor: true,
                speed: 600,
                mouseweel: true,
                spaceBetween: 30,
                parallax: true,
                centerInsufficientSlides: true,
                centeredSlides: true,
                breakpoints: {
                    0: {
                        slidesPerView: 1.2,
                    },
                    992: {
                        slidesPerView: 2.2,
                    },
                },
            });
        })
    </script>
{% endmacro %}