{% macro Swiper_1(Elementy, Czy_Przyciski) %}
    {#<p><code>{{ Elementy }}</code></p>#}

    {# Zewnętrzny Kontener #}
    <div class="swiper overflow-hidden">
        {# Wewnętrzny Kontener #}
        <div class="swiper-wrapper">

            {# Slides #}
            {% for Slajd in Elementy %}
            <div class="swiper-slide position-relative">
                <div class="p-2 d-flex flex-column">
                    <img src="{{ Slajd.data_uri }}" alt="{{ Slajd.tytul }}" class="img-fluid">
                    <hr class="w-100">
                    <p class="mb-1">{{ Slajd.tytul }}</p>

                    {% if Slajd.opis %}
                        <p class="mb-0 small">{{ Slajd.opis }}</p>

                    {% endif%}

                    {% if Czy_Przyciski %}
                    {# Żeby to działało, `Czy_Przyciski` musi być `True` oraz w liście musi być przekazane ID przedmiotu. #}
                        <span class="text-end d-block">
                            <a class="m-2" href="{{ url_for('Blueprint_3.Widok_Kolekcja_Zdjęcie_Edytuj', ID_Przedmiot=Slajd.id_przedmiot, ID_Grafika=Slajd.id) }}">Edytuj</a>

                            <form class="m-2 d-inline-block" action="{{ url_for('Blueprint_3.Widok_Kolekcja_Zdjęcie_Usuń', ID_Przedmiot=Slajd.id_przedmiot, ID_Grafika=Slajd.id) }}" method="POST">
                                <button type="submit" class="btn btn-sm btn-danger"
                                        onclick="return confirm(`Czy na pewno chcesz usunąć zdjęcie '{{ Slajd.tytul }}'? Tej operacji nie można cofnąć.`);">
                                    Usuń
                                </button>
                            </form>
                        </span>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function(){
            var Swipery = new Swiper(".swiper", {
                slidesPerView: 1.3,
                grabCursor: true,
                speed: 600,
                mouseweel: true,
                spaceBetween: 30,
                parallax: true,
                centerInsufficientSlides: true,
                breakpoints: {
                    0: {
                        slidesPerView: 1.2,
                        centeredSlides: true,
                    },
                    992: {
                        slidesPerView: 1.2,
                    },
                },
            });
        })
    </script>
{% endmacro %}