{% extends "Szablon.html" %}
{% from "Makra/Formularz_Pole.html" import Formularz_Pole %}

{% block Tytuł %}
    Dodaj Pole Własne
{% endblock %}

{% block Treść %}
    <h1>Dodaj Pole Własne</h1>

    <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
        <form method="POST" novalidate class="{% if request.method == 'POST'%}was-validated{% endif %}">
            {{ Formularz.csrf_token }}
            {{ Formularz_Pole(Formularz.id_rodzaj) }}
            {{ Formularz_Pole(Formularz.wartosc) }}
            {{ Formularz_Pole(Formularz.Pole_Submit) }}
        </form>
    </div>
{% endblock %}