{% extends "Szablon.html" %}
{% from "Makra/Lorem_Ipsum.html" import Lorem_Ipsum %}
{% from "Makra/Swiper.html" import Swiper %}

{% block Tytuł %}
    Szczegóły Przedmiotu
{% endblock %}

{% block Treść %}
    <h1>Szczegóły Przedmiotu</h1>

    <table class="table table-bordered table-striped">
        <thead>
            <tr class="table-primary">
                <th scope="col">Pole</th>
                <th scope="col">Wartość</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>ID</td>
                <td>{{ Przedmiot.id }}</td>
            </tr>
            <tr>
                <td>Nazwa</td>
                <td>{{ Przedmiot.nazwa }}</td>
            </tr>
            <tr>
                <td>Data Dodania</td>
                <td>{{ Przedmiot.data_dodania }}</td>
            </tr>
            <tr>
                <td>Data Edycji</td>
                <td>
                    {% if Przedmiot.data_edycji %}
                        {{ Przedmiot.data_edycji }}

                    {% else %}
                        Brak

                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>Właściciel</td>
                <td>{{ Przedmiot.wlasciciel.login }}</td>
            </tr>
            <tr>
                <td>Cena Zakupu</td>
                <td>{{ Przedmiot.cena_zakupu }} {{ Przedmiot.waluta_zakupu.skrot }}</td>
            </tr>
            <tr>
                <td>Wartość Rynkowa</td>
                <td>{{ Przedmiot.wartosc_rynkowa }} {{ Przedmiot.waluta_rynkowa.skrot }}</td>
            </tr>
            <tr>
                <td>Kategoria</td>
                <td>{{ Przedmiot.kategoria.nazwa }}</td>
            </tr>
            <tr>
                <td>Czy Prywatne</td>
                <td>
                    {% if Przedmiot.czy_prywatne %}
                        Tak

                    {% else %}
                        Nie
                        <br>
                        Link do przedmiotu: <a href="{{ url_for('Blueprint_3.Widok_Kolekcja_Przedmiot', ID=Przedmiot.id) }}">Link</a>

                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>Pola Własne</td>
                <td>
                    {% if Przedmiot.pola_wlasne %}
                        <ul class="mb-0">
                        {% for Pole_Własne in Przedmiot.pola_wlasne %}
                            <li>
                                <b>{{ Pole_Własne.typ_pola_wlasnego.nazwa }}: </b>
                                {{ Pole_Własne.wartosc}}
                                <br>
                                <span class="text-end d-block">
                                    <a class="m-2" href="{{ url_for('Blueprint_3.Widok_Kolekcja_Pole_Własne_Edytuj', ID_Przedmiot=Przedmiot.id, ID_Pole_Wlasne=Pole_Własne.id) }}">Edytuj</a>

                                    <form class="m-2 d-inline-block" action="{{ url_for('Blueprint_3.Widok_Kolekcja_Pole_Własne_Usuń', ID_Przedmiot=Przedmiot.id, ID_Pole_Wlasne=Pole_Własne.id) }}" method="POST">
                                        <button type="submit" class="btn btn-sm btn-danger"
                                                onclick="return confirm(`Czy na pewno chcesz usunąć pole własne '{{ Pole_Własne.typ_pola_wlasnego.nazwa }}: {{ Pole_Własne.wartosc }}'?`);">
                                            Usuń
                                        </button>
                                    </form>
                                </span>
                            </li>
                        {% endfor %}
                        </ul>

                    {% else %}
                        Brak

                    {% endif %}

                    <p class="mb-0 mt-2">Kliknij <a href="{{ url_for('Blueprint_3.Widok_Kolekcja_Pole_Własne_Dodaj', ID=Przedmiot.id) }}">tutaj</a> aby dodać nowe pole własne.</p>
                </td>
            </tr>
        </tbody>
    </table>

    <p>Kliknij <a href="{{ url_for('Blueprint_3.Widok_Kolekcja_Edytuj', ID=Przedmiot.id) }}">tutaj</a> aby edytować ten przedmiot.</p>

    <h2>Notatki</h2>

    <p>Poniżej znajdują się notataki, w tym te oznaczone jako prywatne.</p>

    {% if Przedmiot.notatki %}
        <p>Poniżej znajdują się notataki, wyświetlane są tylko te które zostały oznaczone przez autora jak publiczne.</p>

        <ul>
            {% for Notatka in Przedmiot.notatki %}
                <li class="mb-4">
                    <b>{{ Notatka.tytul }}</b>
                    <br>
                    <span>{{ Notatka.opis }}</span>
                    <br>
                    {% if Notatka.czy_prywatne %}
                        <span class="small fw-light fst-italic">Notatka Prywatna</span>
                        <br>
                    {% endif %}
                    <span class="text-end d-block">
                        <a href="{{ url_for('Blueprint_3.Widok_Kolekcja_Notatka_Edytuj', ID_Przedmiot=Przedmiot.id, ID_Notatka=Notatka.id) }}" class="m-2">Edytuj</a>

                        <form class="m-2 d-inline-block" action="{{ url_for('Blueprint_3.Widok_Kolekcja_Notatka_Usuń', ID_Przedmiot=Przedmiot.id, ID_Notatka=Notatka.id) }}" method="POST">
                            <button type="submit" class="btn btn-sm btn-danger" onclick="return confirm(`Czy na pewno chcesz usunąć notatkę '{{ Notatka.tytul }}'?`);">
                                Usuń
                            </button>
                        </form>
                    </span>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Do tego przedmiotu nie dołączono żadnych notatek.</p>

    {% endif %}

    <p>Kliknij <a href="{{ url_for('Blueprint_3.Widok_Kolekcja_Notatka_Dodaj', ID=Przedmiot.id) }}">tutaj</a> aby dodać nową notatkę.</p>

    <h2>Zdjęcia</h2>


    {% if Zdjęcia %}
        <p>Poniżej znajdują się zdjęcia i/lub skany tego przedmiotu.</p>
        {{ Swiper(Zdjęcia, True) }}

    {% else %}
        <p>Do tego przedmiotu nie dołączono żadnych zdjęć/skanów.</p>

    {% endif %}


    <p>Kliknij <a href="{{ url_for('Blueprint_3.Widok_Kolekcja_Zdjęcie_Dodaj', ID=Przedmiot.id) }}">tutaj</a> aby dodać nową grafikę.</p>


{% endblock %}