/*! Przycisk wyświetlania/ukrywania hasła */
.Przycisk_Wyświetlanie_Hasła::after {
    font-family: "bootstrap-icons";
    content: "\F33E"; /* https://icons.getbootstrap.com/icons/eye-fill/ */
}
.Przycisk_Wyświetlanie_Hasła.active::after {
    font-family: "bootstrap-icons";
    content: "\F33F"; /* https://icons.getbootstrap.com/icons/eye-slash-fill/ */
}

/*! Ukrywanie pustych akapitów */
p:empty:not([class]), div:empty:not([class]), span:empty:not([class]) {
    display: none;
}

/*! Usunięcie marginesu z ostatniego akapitu w alertach */
.alert p:last-of-type {
    margin-bottom: 0px;
}

/*! Przywrócenie podkreślenie pozycji w menu po najechaniu myszką */
.navbar-expand .navbar-nav .nav-link:hover, .navbar-expand .navbar-nav .nav-link:focus {
    text-decoration: underline;
}

/*! Wymuszenie podkreślania linków */
.Podkreślenie_Linku {
    text-decoration: underline !important;
}

/*! Modyfikacje motywów z bootswatch.com */
/*? Wspólne */
.navbar {
    border: none;
}

/*? Motyw: "Brite" */
body[data-theme="brite"] .vr {
    background-color: currentColor !important;
    margin-left: 5px;
    margin-right: 5px;
}

/*! Karuzele swiper.js */
    /*? Ogólne */
.swiper .swiper-wrapper .swiper-slide {
    background-color: var(--bs-primary-bg-subtle) !important;
}
.swiper-no-swiping {
    cursor: auto;
}
    /*? Zmiana wyglądu pozostałych/aktywnego/poprzedniego/następnych */
.swiper .swiper-slide {
    opacity: 0.1;
    transition: .3s ease all;
    height: auto;
}
.swiper .swiper-slide-active, .swiper .swiper-slide-duplicate-active  {
    opacity: 1
}
.swiper .swiper-slide-prev, .swiper .swiper-slide-duplicate-prev  {
    filter: grayscale(70%);
    opacity: 1;
}
.swiper .swiper-slide-next, .swiper .swiper-slide-duplicate-next  {
    filter: grayscale(70%);
    opacity: 1;
}